{% extends 'base.html' %}

{% block title %}
Add a Pet
{% endblock %}}

{% block content %}
<h1>Add a Pet</h1>
<div class="container">
    <form action="/add" method='POST'>
        {{ form.hidden_tag() }}

        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </p>
        {% endfor %}

        <button type="submit" class="add_btn">Add Me!</button>
    </form>
</div>
{% endblock %}}}