{% extends 'base.html' %}

{% block title %}
{{ pet.name }}
{% endblock %}}

{% block content %}
<h1>{{ pet.name }}'s Page</h1>
<div class="container">
    <div>
        {% if pet.photo_url != '' %}
            <img src="{{ pet.photo_url }}" alt="No Image!">
        {% endif %}
        <p>
            {{ pet.name }}
        </p>
        {% if pet.age != '' %}
        <p>
            {{ pet.age }}<br>
        </p>
        {% endif %}
        {% if pet.species != '' %}
        <p>
            {{ pet.species }}<br>
        </p>
        {% endif %}
    </div>

    <h2>Update Details</h2>
    <form method="POST">
        {% include "add_form.html" %}
        <button type="submit" class="add_btn">Update</button>
    </form>
</div>
{% endblock %}}}